# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store

# Project specific
# чтобы не каждому парсить заново, храним их в репозитории
data/*
!data/documents.json
!data/documents.db
!data/

.streamlit/secrets.toml
.env
*.log
