# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store

# Project specific
# храним documents.json в репозитории
data/*
!data/documents.json

.streamlit/secrets.toml
.env
*.log
